{% extends "layout.html" %}

{% block bodyTag %}
<body>
{% endblock %}

{% block content %}
<div class="container pagecontent" onclick="closeLinks()">

	<div class="row">

		<div id="intro" class="col-xs-12 align-center">
			<a href="/" class="logo pagelogo"><img src="static/images/mlogo.png" alt="" /></a>
		</div>

		<div class="col-lg-12">

			<!-- CONTENT PANEL -->
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				
				<div class="panel clearfix">

					<!-- <div class="empty-panel">
						<h1>MURIDAE<br>VISUALIZATION<br>UTILITY</h1>
					</div>
-->					
						
						<div class="col-sm-8 col-sm-offset-2 table-responsive">

                            {% for data in userdata %}

							<table class="table table-hover usertable">
 							<tbody>
 								<tr>
 				
 				 					<!-- <div class="empty-panel">
 								    <span ng-bind = "data.username">
 								        </span>
                                    !--> 
                                    
	 								<td class="col-xs-4"></td><td>{{data['username']}}</td><td></td><td>{% if data['admin']==true %}admin{% else %}user{% endif %}</td><td></td>
	 								<td class="col-xs-4">
	 									<button class="btn btn-default" type="button" data-toggle="collapse" data-target=#data['userid'] aria-expanded="false" aria-controls="collapseExample">
											Change Password
										</button>
	 								</td>
	 								<td class="col-xs-4 align-center">

                                    <form method="post" action="/users" id="data['userid']">
	 									<button class="btn btn-default" input type="submit" button type="button" value="submit">
											DELETE
										</button>
                                    </form>

	 								</td>
 								</tr>
								</tbody>
							</table>
							
						
							<div class="collapse" id=data['userid']>
							<div class="well">
								Password changing stuff goes here
							</div>
						</div>
                        {% endfor %}
                        </div>
					</div>

				</div><!-- end .panel -->
			</div><!-- end content panel -->

		</div>

	</div>

</div>

{% endblock %}