{% extends "layout.html" %}

{% block bodyTag %}
<body>
{% endblock %}

{% block content %}
<div class="container pagecontent" onclick="closeLinks()">

	<div class="row">

		<div id="intro" class="col-xs-12 align-center">
			<a href="/" class="logo pagelogo"><img src="static/images/mlogo.png" alt="" /></a>
		</div>

		<div class="col-lg-12">

			<!-- CONTENT PANEL -->

            <div class="panel clearfix">
            <br>
		    <h2 align="center">	
                <div class="row">
                    <div class="col-md-6 col-md-offset-5">	
                        {% if account_created == 'false' %}
	                    <p><font color="red">There was a problem creating your account. Please try again. <span class="byline"><a href="/createaccount">Click Here</a></font></p>
		                {% else %}
			                <div class="col-lg-4 center">
				                <h3>Account Created For:</h3>
				                <p>{{ user }}</p>
                                <form action="/users">
                                    <input type="submit" value="Return To Users Page" />
                                </form>			
                            </div>
			            {% endif %}
			
		            </div>
	            </div>
            </div>

{% endblock %}