{% extends "layout.html" %}

{% block bodyTag %}
<body ng-controller="UploadController">
{% endblock %}

{% block content %}
<div class="container pagecontent" onclick="closeLinks()">

	<div class="row">

		<div id="intro" class="col-xs-12 align-center">
			<a href="/" class="logo pagelogo"><img src="static/images/mlogo.png" alt="" /></a>
		</div>

		<div class="col-lg-12">
			<!-- CONTENT PANEL -->
			<div class="col-xs-12 col-md-8 col-lg-9">
				<div class="panel">
                    <!--GENERIC POPUP STARTS HERE -->
                    <div id="genericPopUp">
		                <div class="panel loginbox popupdiv">
		                	<h2 align="center">It's an empty pop up!</h2>
		                </div>
                    </div>
                    <!--GENERIC POPUP ENDS HERE -->
                    
                    <!--GRID OPTIONS POPUP STARTS HERE -->
                    <div id="gridOptionPopUp">
		                <div class="panel loginbox popupdiv wide-popupdiv">
		                	<h4 align="center"><br/>You must define the grid for this data set, or select a 
		                						previously uploaded data set and mimic its grid. </h4>
		                	<div class="btn-group btn-flex">
                                <button type="button" class="btn btn-default" ng-click="defineGrid()" >DEFINE GRID</button>
                            </div>
                            <div class="btn-group btn-flex">
                                <button type="button" class="btn btn-default" ng-click="mimicGrid()" >MIMIC ANOTHER GRID</button>
                            </div>
		                	<div class="btn-group btn-flex">
                                <button type="button" class="btn btn-default" ng-click="cancelUpload()" >CANCEL</button>
                            </div>
                            <br />
		                </div>
                    </div>
                    <!--GRID OPTIONS POPUP ENDS HERE -->
                    
                    
                    <!--SET DIMENSIONS POPUP STARTS HERE -->
                    <div id="setDimensionsPopUp">
                    	<div class="panel loginbox popupdiv wide-popupdiv">
                    		<h1> Set dimensions: </h1>
                    		<label for="setrowsMenu"> Set Rows: </label>
		                	<select name="setrowsMenu" class="btn btn-default" ng-model="setRows">
                    		<option value = "1">1</option>
                    		<option value = "2">2</option>
                    		<option value = "3">3</option>
                    		<option value = "4">4</option>
                    		<option value = "5">5</option>
                    		<option value = "6">6</option>
                    		<option value = "7">7</option>
                    		<option value = "8">8</option>
                    	</select>
                    	<br />
                    	<label for="setcolsMenu"> Set Columns: </label>
		                	<select name="setcolsMenu" class="btn btn-default" ng-model="setCols">
                    		<option value = "1">1</option>
                    		<option value = "2">2</option>
                    		<option value = "3">3</option>
                    		<option value = "4">4</option>
                    		<option value = "5">5</option>
                    		<option value = "6">6</option>
                    		<option value = "7">7</option>
                    		<option value = "8">8</option>
                    	</select>
                    	<div class="btn-group btn-flex">
                                <button type="button" class="btn btn-default" ng-click="getGridSelector()" >DEFINE GRID</button>
                        </div>
                        <div class="btn-group btn-flex">
                                <button type="button" class="btn btn-default" ng-click="cancelDimenDef()" >CANCEL</button>
                        </div>
                        <br />
		                </div>
                    </div>
                    <!--SET DIMENSIONS POPUP ENDS HERE -->
                    
                    <!--DEFINE GRID POPUP STARTS HERE -->
                    <div id="defineGridPopUp">
		                <div class="panel loginbox popupdiv extrawide-popupdiv">
		                	
		                		<table class="table table-block table-responsive">
										<tbody>
											<tr ng-repeat="i in [] | range:rowsInt">
												<td ng-repeat="j in [] | range:colsInt">
													<select name="{% raw %}{{ i }} {%endraw%}--{%raw %}{{ j }} {% endraw%}" class="btn btn-default" ng-model="locationMap[[$parent.$index, $index]]" ng-change="checkGrid()" >
														<option ng-repeat="rf in sensors" value="{% raw %}{{rf}}{% endraw %}">{% raw %}{{ rf }}{% endraw %}</option>
													</select>
												</td>
											</tr>
										</tbody>
								</table>
								
							<h3>Note all locations must be set to an RFID or '---', and no RFID may be duplicated.</h3>	
							<div class="btn-group btn-flex">
                                <button id="checkedGrid" type="button" class="btn btn-default" ng-click="confirmGridDef()" disabled="True">CONTINUE</button>
                        	</div>
		                	<div class="btn-group btn-flex">
                                <button type="button" class="btn btn-default" ng-click="cancelGridDef()" >CANCEL</button>
                        	</div>
                        	
                    	</div>
                	</div>
                    <!--DEFINE GRID POPUP ENDS HERE -->
                    
                    <!--FINALIZE UPLOAD STARTS HERE -->
                    <div id="finalizeUpload">
		                <div class="panel loginbox popupdiv">
		                	<table class="table table-block table-responsive">
										<tbody>
											<tr ng-repeat="i in [] | range:rowsInt">
												<td ng-repeat="j in [] | range:colsInt">
													{% raw %} {{ locationMap[[i,j]] }} {% endraw %}
												</td>
											</tr>
										</tbody>
							</table>
		                	
		                	<h3>Change the data set name (or the original file name will be used)</h3>
		                	<div class="btn-flex-submit">
								<input type="text" class="form-control" ng-model="thisFileName" ng-change="checkName()">
							</div>
							
		                	
		                	<div class="btn-group btn-flex">
                                <button id="completeUpload" type="button" class="btn btn-default" ng-click="completeUpload()" >COMPLETE UPLOAD</button>
                        	</div>
		                	<div class="btn-group btn-flex">
                                <button type="button" class="btn btn-default" ng-click="dontFinalize()" >CANCEL</button>
                        	</div>
		                </div>
                    </div>
                    <!--FINALIZE UPLOAD ENDS HERE -->
                    
                    
                    
                    <div class="empty-panel">
						<h1>MURIDAE<br>VISUALIZATION<br>UTILITY</h1>
					</div>

				</div><!-- end .panel -->
			</div><!-- end content panel -->

			<!-- OPTION PANEL -->
			<div class="col-xs-12 col-md-4 col-lg-3 align-center">
				<div class="panel">

					<!-- FILE UPLOAD BUTTON -->
					<div class="btn-flex-submit-block fileupload">
						<form action="data" method="post" class="col-xs-12 col-12" enctype="multipart/form-data">

							<label class="btn btn-block btn-default">
								Upload Data Set
								<input id="upload" type="file" name="file" style="display: none;">
							</label>									
							
							<div class="btn-flex-submit">
								<input type="text" class="form-control" readonly>
							</div>
							
							<div class="btn-flex-submit">
								<label class="btn btn-block btn-default">
									Submit
									<input type="submit" value="Upload" style="display: none;">
								</label>
							</div>

						</form>
					</div>
					

					<!-- DATASET SELECT DROPDOWN -->
					<div class="btn-group btn-flex">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    	Select Dataset <span class="caret"></span>
					  	</button>
					  	<ul class="dropdown-menu bullet pull-center">
					  		<li ng-repeat="option in datasets">
					  			<input 
					  				type="radio"
					  				id="{% raw %}{{option.name}}{% endraw %}"
					  				name="datalist"
					  				ng-model="$parent.selection"
					  				value="{% raw %}{{option.name}}{% endraw %}"
					  				ng-change="loadDataset()"
					  			/>
					  			<label for="{% raw %}{{option.name}}{% endraw %}">{% raw %}{{option.name}}{% endraw %}</label>
					  		</li>
					  	</ul>
					</div>

				</div>
			</div>

		</div>

	</div>

</div>

{% endblock %}
{% block loadScripts %}
		
<script type="text/javascript">
	$(function() {
		// We can attach the `fileselect` event to all file inputs on the page
	  	$(document).on('change', ':file', function() {
	    	var input = $(this),
	        	numFiles = input.get(0).files ? input.get(0).files.length : 1,
	        	label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
	    	input.trigger('fileselect', [numFiles, label]);
	  	});
	  	// We can watch for our custom `fileselect` event like this
	  	$(document).ready( function() {
	    	$(':file').on('fileselect', function(event, numFiles, label) {
	        	var input = $(this).parents('.fileupload').find(':text'),
	            	log = numFiles > 1 ? numFiles + ' files selected' : label;
	          	if( input.length ) {
	            	input.val(log);
	          	} else {
	            	if( log ) alert(log);
	          	}
	      	});
	  	});
	  
	});
</script>

{% endblock %}