{% extends "layout.html" %}

{% block bodyTag %}
<body ng-controller="DataController">
{% endblock %}

{% block content %}
<div class="container pagecontent" onclick="closeLinks()">

	<div class="row">

		<div id="intro" class="col-xs-12 align-center">
			<a href="/" class="logo pagelogo"><img src="static/images/mlogo.png" alt="" /></a>
		</div>

		<div class="col-lg-12">

			<!-- CONTENT PANEL -->
			<div class="col-xs-12 col-md-8 col-lg-9">
				
				<div class="panel">

					<div class="empty-panel">
						<h1>MURIDAE<br>VISUALIZATION<br>UTILITY</h1>
					</div>

				</div><!-- end .panel -->
			</div><!-- end content panel -->

			<!-- OPTION PANEL -->
			<div class="col-xs-12 col-md-4 col-lg-3 align-center">
				<div class="panel">

					<!-- FILE UPLOAD BUTTON -->
					<div class="btn-flex-submit-block fileupload">
						<form action="upload" method="post" class="col-xs-12 col-12" enctype="multipart/form-data">

							<label class="btn btn-block btn-default">
								Upload Data Set
								<input id="upload" type="file" name="file" style="display: none;">
							</label>									
							
							<div class="btn-flex-submit">
								<input type="text" class="form-control" readonly>
							</div>
							
							<div class="btn-flex-submit">
								<label class="btn btn-block btn-default">
									Submit
									<input type="submit" value="Upload" style="display: none;">
								</label>
							</div>

						</form>
					</div>
					

					<!-- DATA SELECT DROPDOWN -->
					<div class="btn-group btn-flex">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Select Data Set <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu bullet pull-center">
					    <li><input type="radio" id="ID" name="NAME" value="label 1" ng-model="testvar" ng-change='test(testvar)'><label for="ID">Label 1</label></li>
					    <li><input type="radio" id="ID2" name="NAME" value="label 2" ng-model="testvar" ng-change='test(testvar)'><label for="ID2">Label 2</label></li>
					    <li><input type="radio" id="ID3" name="NAME" value="label 3" ng-model="testvar" ng-change='test(testvar)'><label for="ID3">Label 3</label></li>
					    <li><input type="radio" id="ID4" name="NAME" value="label 4" ng-model="testvar" ng-change='test(testvar)'><label for="ID4">Label 4</label></li>
					  </ul>
					</div>

					<!-- LOAD DATA BUTTON -->
					<div class="btn-group btn-flex">
						<button type="button" class="btn btn-default">Load Data Set</button>
					</div>

					<!-- DELETE DATA BUTTON -->
					<div class="btn-group btn-flex btn-flex-last">
						<button type="button" class="btn btn-default">Delete Data Set</button>
					</div>
					
					

				</div>
			</div>

		</div>

	</div>

</div>

{% endblock %}
{% block loadScripts %}
		
<script type="text/javascript">
	$(function() {

		// We can attach the `fileselect` event to all file inputs on the page
	  	$(document).on('change', ':file', function() {
	    	var input = $(this),
	        	numFiles = input.get(0).files ? input.get(0).files.length : 1,
	        	label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
	    	input.trigger('fileselect', [numFiles, label]);
	  	});

	  	// We can watch for our custom `fileselect` event like this
	  	$(document).ready( function() {
	    	$(':file').on('fileselect', function(event, numFiles, label) {

	        	var input = $(this).parents('.fileupload').find(':text'),
	            	log = numFiles > 1 ? numFiles + ' files selected' : label;

	          	if( input.length ) {
	            	input.val(log);
	          	} else {
	            	if( log ) alert(log);
	          	}

	      	});
	  	});
	  
	});
</script>

{% endblock %}