{% extends "layout.html" %}

{% block bodyTag %}
<body>
{% endblock %}

{% block content %}
<div class="container pagecontent" onclick="closeLinks()">

	<div class="row">

		<div id="intro" class="col-xs-12 align-center">
			<a href="/" class="logo pagelogo"><img src="static/images/mlogo.png" alt="" /></a>
		</div>

		<div class="col-lg-12">

			<!-- CONTENT PANEL -->
			<div class="col-xs-12 col-md-8 col-lg-9">
				<div class="panel matchHeight">
					<div class="well text-center responsive">
						<form action="updateData" method="post" >
							<table class="table table-block table-responsive">
								<tr>
									<td style="text-align:center">
										<table style="width:100%">
											<tbody>
												<tr>{% for line in myData.rowMap.firstRow %}
														<td class="align-center">
					        								<select name={{line.index}} style="width:70px" >
					        									<option value={{line.value}}>{{line.value}}</option>
					        									<option value="-1">--</option>
					        									{% for line in myData.alllocations %}}
			  														<option value={{line}}>{{line}}</option>
		  														{% endfor %}
															</select>
				        								</td>
													{% endfor %}
												</tr>
												<tr>
												{% for line in myData.rowMap.secondRow %}
													<td class="align-center">
				        								<select name={{line.index}} style="width:70px" >
				        									<option value={{line.value}}>{{line.value}}</option>
				        									<option value="-1">--</option>
				        									{% for line in myData.alllocations %}}
		  														<option value={{line}}>{{line}}</option>
	  														{% endfor %}
														</select>
			        								</td>
												{% endfor %}
												</tr>
												<tr>
												{% for line in myData.rowMap.thirdRow %}
													<td class="align-center">
				        								<select name={{line.index}} style="width:70px" >
				        									<option value={{line.value}}>{{line.value}}</option>
				        									<option value="-1">--</option>
				        									{% for line in myData.alllocations %}}
		  														<option value={{line}}>{{line}}</option>
	  														{% endfor %}
														</select>
			        								</td>
												{% endfor %}
												</tr>
												<tr>
												{% for line in myData.rowMap.fourthRow %}
													<td class="align-center">
				        								<select name={{line.index}} style="width:70px" >
				        									<option value={{line.value}}>{{line.value}}</option>
				        									<option value="-1">--</option>
				        									{% for line in myData.alllocations %}}
		  														<option value={{line}}>{{line}}</option>
	  														{% endfor %}
														</select>
			        								</td>
												{% endfor %}
												</tr>
												<tr>
												{% for line in myData.rowMap.fifthRow %}
													<td class="align-center">
				        								<select name={{line.index}} style="width:70px" >
				        									<option value={{line.value}}>{{line.value}}</option>
				        									<option value="-1">--</option>
				        									{% for line in myData.alllocations %}}
		  														<option value={{line}}>{{line}}</option>
	  														{% endfor %}
														</select>
			        								</td>
												{% endfor %}
												</tr>
												<tr>
												{% for line in myData.rowMap.sixthRow %}
													<td class="align-center">
				        								<select name={{line.index}} style="width:70px" >
				        									<option value={{line.value}}>{{line.value}}</option>
				        									<option value="-1">--</option>
				        									{% for line in myData.alllocations %}}
		  														<option value={{line}}>{{line}}</option>
	  														{% endfor %}
														</select>
			        								</td>
												{% endfor %}
												</tr>
												<tr>
												{% for line in myData.rowMap.seventhRow %}
													<td class="align-center">
				        								<select name={{line.index}} style="width:70px" >
				        									<option value={{line.value}}>{{line.value}}</option>
				        									<option value="-1">--</option>
				        									{% for line in myData.alllocations %}}
		  														<option value={{line}}>{{line}}</option>
	  														{% endfor %}
														</select>
			        								</td>
												{% endfor %}
												</tr>
												
											</tbody>
										</table>
									</td>
								</tr>
							</table>
							<div class "panel panel-default">
								<label>Data set name: </label> <input type="text" style="width=300px" name="setName" placeholder={{myData.setName}} />
							</div>
							<div class "panel panel-default">
									<br />
								<label class="btn btn-default" style="width:200px">
								Update Data Set
								<input type="submit" value="setDataUpload" style="display: none;">
								</label>
							</div>
							<div class "panel panel-default">
								<label class="btn-block">
									Mimic a previously-uploaded data set's grid<br />
									<input type="checkbox" name="oldSet" /><Label>- Use Previous Set -</Label>
									<select name="prevSetName" style="width:200px">
										{% for line in otherDataSets %}
											<option value={{ line }}>{{ line }}</option>
										{% endfor %}
									</select>
								</label>
							</div>
							
							<input type="hidden" name="datasetname" value={{ myData.setToLoad }} />
						</form>
						
						<form  action="/data">
							<label class="btn btn-default"  style="width:200px">
							Cancel
							<input type="submit" value="data" style="display: none;">
							</label>
						</form>
					</div>
				<div class="panel panel-default">
					<div class="table-responsive">
						<!--	<table class="table table-hover table-bordered">-->
						<table class="table table-striped datatable" >
							<thead class="datablock">
								<tr class="datablock datatr">
									<th class="datablock datatdth" style="height:40px" >Subject</th>
									<th class="datablock datatdth" style="height:40px; text-align: center;">Location</th>
									<th class="datablock datatdth" style="height:40px; text-align: center;">Heat Map Value</th>
								</tr>
							</thead>
								<tbody class="datablock databody" >
									{% for key, value in myData.heatData.iteritems() %}
										{% for innerKey, innerValue in value.iteritems() %}
											<tr class="datablock datatr">
												<td class="datablock datatdth" >{{key}} </td>
												<td class="datablock datatdth" style="text-align: center;">{{innerKey}}</td>
												<td class="datablock datatdth" style="text-align: center;">{{innerValue}}</td>
											</tr>
										{% endfor %}
									{% endfor %}
								</tbody>
						</table>
					</div> 
					<br>
					
				<div class="table-responsive">
					<!--	<table class="table table-hover table-bordered">-->
					<table class="table table-striped datatable" width="100%">
						<thead class="datablock">
							<tr class="datablock datatr">
								<th class="datablock datatdth" style="height:40px" >Subject</th>
								<th class="datablock datatdth" style="height:40px; text-align: center;">Location</th>
								<th class="datablock datatdth" style="height:40px; text-align: center;">Time Stamp</th>
							</tr>
						</thead>
							<tbody class="datablock databody" >
								{% for key, value in myData.vectorData.iteritems() %}
									{% for item in value %}
										<tr class="datablock datatr">
											<td class="datablock datatdth" >{{key}} </td>
											{% for elem in item %}
											<td class="datablock datatdth" style="text-align: center;">{{elem}}</td>
											{% endfor %}
										</tr>
									{% endfor %}
								{% endfor %}
							</tbody>
					</table>
				</div> 
				</div>	
					<!-- -->

				</div><!-- end .panel -->
			</div><!-- end content panel -->

			<!-- OPTION PANEL -->
			<div class="col-xs-12 col-md-4 col-lg-3 align-center">
				<div class="panel matchHeight">

					<!-- FILE UPLOAD BUTTON -->
					<div class="btn-flex-submit-block fileupload">
						<form action="upload" method="post" class="col-xs-12 col-12" enctype="multipart/form-data">

							<label class="btn btn-block btn-default">
								Upload Data Set
								<input type="file" name="file" style="display: none;">
							</label>									
							
							<div class="btn-flex-submit">
								<input type="text" class="form-control" readonly>
							</div>
							
							<div class="btn-flex-submit">
								<label class="btn btn-block btn-default">
									Submit
									<input type="submit" value="Upload" style="display: none;">
								</label>
							</div>

						</form>
					</div>
					

					<!-- DATA SELECT DROPDOWN -->
					<form action="loadData" method="post" enctype="multipart/form-data">
						<div class="btn-group btn-flex">
							<select name="setToLoad" class="btn btn-default"  >
									{% for line in otherDataSets %}
										<option value={{ line }}>{{ line }}</option>
									{% endfor %}
							</select>
						  </ul>
						</div>
						<!-- LOAD DATA BUTTON -->
						<div class="btn-group btn-flex">
							<label class="btn btn-block btn-default">
									Load Data Set
							<input type="submit" value="LoadData" style="display: none;">
							</label>
						</div>
					</form>
					<form action="deleteData" method="post" enctype="multipart/form-data">

						<!-- DELETE DATA BUTTON -->
						<div class="btn-group btn-flex">
							<label class="btn btn-block btn-default">
									Delete Data Set
							<input type="submit" value="DeleteData" style="display: none;">
							</label>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block loadScripts %}
		
<script type="text/javascript">
	$(function() {

		// We can attach the `fileselect` event to all file inputs on the page
	  	$(document).on('change', ':file', function() {
	    	var input = $(this),
	        	numFiles = input.get(0).files ? input.get(0).files.length : 1,
	        	label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
	    	input.trigger('fileselect', [numFiles, label]);
	  	});

	  	// We can watch for our custom `fileselect` event like this
	  	$(document).ready( function() {
	    	$(':file').on('fileselect', function(event, numFiles, label) {

	        	var input = $(this).parents('.fileupload').find(':text'),
	            	log = numFiles > 1 ? numFiles + ' files selected' : label;

	          	if( input.length ) {
	            	input.val(log);
	          	} else {
	            	if( log ) alert(log);
	          	}

	      	});
	  	});
	  
	});
</script>

{% endblock %}